<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="filePath" value="C:\Users\ASUS\Desktop\UPLOAD TO GITHUB\C#\C#_Challenges\02_TextFileChallenge\TextFileChallenge\CsvFiles"/>
	</appSettings>

	<!--
	<appSettings>
		<add key="filePath" value="C:\data\TournamentTracker"/>
	</appSettings>
	-->
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>